@import url('fonts/font-noto.css');
@import url('fonts/font-haas.css');

:root{
    --ops-text: #101010;
}

#wrapper{
    width: calc(100% - 160px);
    padding: 24px 80px;
    color: var(--ops-text);
}

hr{
    border: none;
    height: 1px;
    background: #A2A2A2;
}

h1{
    font-size: 5em;
}
.text-center{
    text-align: center;
}

.c-flex-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.r-flex-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}